{
  "Brent_WTI": "Numbers are not reasonable, Arb Open 51%.. Might be due to fixed storage, financing and quality costs for simplicity sake. FX hedging cost held at 0 due to most costs in USD. I think the freight is fairly reasonable although not accurate due to it being a general freight index and not route specific. The 2020 COVID crash created extreme outliers that demonstrate the importance of risk management in physical trading.",
  "Brent_Dubai": "Same issues as with Brent WTI and all other commodities. I dont have data for freight specific routes, and forecasting storage, financing, quality etc seemns hard without actual historical data.Middle East to Europe crude arbitrage. Reflects global oil flows and OPEC+ production decisions. Important for understanding East-West crude price relationships.",
  "Rotterdam_Singapore_Gasoil": "Very har to find gasoil data for both regions. W61 was the closest thing I could find in Singapore > 2019. Should be closer relation between the two gasoil prices, most likely an error in one of the data sets. Cant find any issues in Unit-Normalization.",
  "Eurobob_USGC_Gasoline": "Most unreasonable yet.. US to Europe gasoline arbitrage. US Gasoline is cheaper but I might have the wrong rdam *EUROBOB* data since the price differential seems way to high when comparing to google searches. Should be seasonal due European summer demand but cant see it in the data."
}
